<nz-affix [nzOffsetTop]="0">
  <ul nz-menu nzMode="horizontal" nzTheme="dark" [nzInlineCollapsed]="isCollapsed" style="text-align: center;">
    <img src="../../../assets/HBQHM.png" alt="LogoHBQHM" class="logo">
    <img src="../../../assets/LogoText.png" alt="LogoHBQHM" class="logo_text nav-item">
    <!-- <li id="/cinema" nz-menu-item routerLink="cinema" class="nav-item">
      <span>Cinema</span>
    </li>
    <li id="/movie" nz-menu-item routerLink="movie" class="nav-item">
      <span>Movie</span>
    </li> -->
    <!-- <li id="/promotion" nz-menu-item routerLink="promotion" class="nav-item">
      <span>Promotion</span>
    </li> -->
    <li id="/membership" *ngIf="user.role != 2" nz-menu-item routerLink="membership" class="nav-item">
      <span>Membership</span>
    </li>
    <li id="/support" nz-menu-item routerLink="support" class="nav-item">
      <span>Support</span>
    </li>
    <li *ngIf="user.role == 2" nz-submenu nzPlacement="bottomCenter" nzTitle="Staff">
      <ul>
        <!-- <li nz-menu-item routerLink="statistics">Statistics</li> -->
        <li nz-menu-item routerLink="management">Management</li>
      </ul>
    </li>
    <div *ngIf="checkUser == false" class="avatar">
      <span>Welcome </span>
      <span style="margin: 0 5px;">{{ user.name }}</span> |
      <span (click)="logout()">Log out</span>
    </div>
    <div *ngIf="checkUser == true" class="avatar">
      <span class="login" (click)="openLogin()">Login</span> |
      <span class="login" (click)="openRegister()">Register</span>
    </div>
  </ul>
</nz-affix>
<router-outlet></router-outlet>
<!-- <div class="setting" (click)="open()">
  <i class="fa-solid fa-gear fa-3x fa-beat-fade icon"></i>
</div> -->
<nz-drawer [nzSize]="'large'" [nzClosable]="false" [nzVisible]="visible" [nzTitle]="titleTemplate"
  (nzOnClose)="close()" [nzFooter]="footerTpl" [nzPlacement]="setting.drawerPosition">
  <ng-template #titleTemplate>
    <i class="fa-solid fa-gear"></i>
    Setting
  </ng-template>
  <ng-container *nzDrawerContent>
    <app-setting></app-setting>
  </ng-container>
  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button nzType="primary" (click)="refresh()">
        <i class="fa-solid fa-arrows-rotate" style="margin-right: 5px;"></i>
        Refresh
      </button>
    </div>
  </ng-template>
</nz-drawer>
<nz-modal [nzStyle]="{ width: '27.5rem' }" [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent"
    [nzFooter]="null" (nzOnCancel)="handleCancel()" style="width: 1100px;">
    <ng-template #modalTitle>
        <div style="text-align: center;">Login</div>
    </ng-template>
    <ng-template #modalContent>
      <app-login #modalLogin (cancel)="handleCancel()" (submit)="handleSumit()"></app-login>
    </ng-template>
</nz-modal>
