/* .content {
	top: 100px;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	display: inline-block;
	padding: 0 25px;
	width: 60rem;
	background-color: #001529;
	color: aliceblue;
	padding: 50px 30px;
}

.ant-divider-horizontal,
.ant-divider-with-text {
	color: #fff;
	border-top-color: #fff !important;
}

.poster {
	border-radius: 5%;
	width: 15rem;
}

.name {
	color: #ff1b6b;
	font-size: large;
} */
