<img width="100%" height="100%" style="object-fit:cover" src="../../../assets/background.webp" alt="background">
<img width="100%" height="100%" style="object-fit:cover" src="../../../assets/background.webp" alt="background">
<img width="100%" height="100%" style="object-fit:cover" src="../../../assets/background.webp" alt="background">
<nz-back-top [nzTemplate]="tpl" [nzVisibilityHeight]="10">
    <ng-template #tpl>
        <div class="ant-back-top-inner"><i class="fa-solid fa-circle-up"></i></div>
    </ng-template>
</nz-back-top>
<div class="content">
    <h1 class="title">Chương trình thành viên Membership | Tích điểm và đổi thưởng</h1>
    <div #register *ngIf="checkUser == true">
        <div class="part">* Đăng kí thành viên: </div>
        <div class="register">
            <form nz-form [nzLayout]="'inline'" [formGroup]="registerForm" (ngSubmit)="submitForm()">
                <nz-row nzJustify="space-evenly" style="width: 100%; color: #fff;">
                    <div nz-col nzSpan="5" style="text-align: left;">
                        <i class="icon fa-solid fa-user"></i>
                        <span>Name</span>
                    </div>
                    <div nz-col nzSpan="7">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input your name!">
                                <nz-input-group>
                                    <input class="information" formControlName="name" class="information" nz-input placeholder="Name" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="5" style="text-align: left;">
                        <i class="icon fa-solid fa-envelope"></i>
                        <span>Email</span>
                    </div>
                    <div nz-col nzSpan="7">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input your email!">
                                <nz-input-group>
                                    <input formControlName="email" class="information" nz-input placeholder="Email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"/>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </nz-row>
                <nz-row nzJustify="space-evenly" style="width: 100%; color: #fff;">
                    <div nz-col nzSpan="5" style="text-align: left;">
                        <i class="icon fa-solid fa-location-dot"></i>
                        <span>Address</span>
                    </div>
                    <div nz-col nzSpan="7">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input your address!">
                                <nz-input-group>
                                    <input class="information" formControlName="address" nz-input placeholder="Address" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="5" style="text-align: left;">
                        <i class="icon fa-solid fa-id-card"></i>
                        <span>Identity Card</span>
                    </div>
                    <div nz-col nzSpan="7">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input your id card!">
                                <nz-input-group>
                                    <input class="information" formControlName="identityCard" nz-input placeholder="Identity card" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </nz-row>
                <nz-row nzJustify="space-evenly" style="width: 100%; color: #fff;">
                    <div nz-col nzSpan="5" style="text-align: left;">
                        <i class="icon fa-solid fa-cake-candles"></i>
                        <span>Birthday</span>
                    </div>
                    <div nz-col nzSpan="7">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input your birthday!">
                                <nz-input-group>
                                    <nz-date-picker class="information"
                                        formControlName="dob" [nzFormat]="dateFormat"></nz-date-picker>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="5" style="text-align: left;">
                        <i class="icon fa-solid fa-phone"></i>
                        <span>Phone</span>
                    </div>
                    <div nz-col nzSpan="7">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input your phone!">
                                <nz-input-group>
                                    <input formControlName="phone" class="information" nz-input placeholder="Phone" pattern="([+]?84|0[3|5|7|8|9])+([0-9]{8})"/>
                                    <!-- <input formControlName="phone" class="information" nz-input placeholder="Phone" /> -->
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </nz-row>
                <nz-form-item style="width: 100%; text-align: center; margin-top: 10px;">
                    <nz-form-control>
                        <button nz-button nzType="primary" (click)="showModal()">Continue</button>
                    </nz-form-control>
                </nz-form-item>
                <nz-modal [nzStyle]="{ width: '400px' }" [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent"
                    [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
                    <ng-template #modalTitle>Register</ng-template>
                    <ng-template #modalContent>
                        <nz-row>
                            <div nz-col nzSpan="10" style="text-align: left;">
                                <i style="margin-right: 7px; margin-top: 2px;" class="fa-solid fa-envelope"></i>
                                <span>Email</span>
                            </div>
                            <div nz-col nzSpan="14">{{ email }}</div>
                            <div nz-col nzSpan="10" style="text-align: left;">
                                <i style="margin-right: 7px; margin-top: 2px;" class="fa-solid fa-lock"></i>
                                <span>Password</span>
                            </div>
                            <div nz-col nzSpan="14">
                                <nz-form-item>
                                    <nz-form-control nzErrorTip="Please input your password!">
                                        <nz-input-group>
                                            <input formControlName="password" nz-input type="password"
                                                placeholder="Password" />
                                        </nz-input-group>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </nz-row>
                    </ng-template>
                    <ng-template #modalFooter>
                        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
                        <button nz-button nzType="primary" (click)="onSubmit()">Register</button>
                    </ng-template>
                </nz-modal>
            </form>
        </div>
    </div>
    <div *ngIf="checkUser == false">
        <div class="part">* Thông tin thành viên:</div>
        <div class="">
            <nz-row nzJustify="space-evenly">
                <div nz-col nzSpan="4">
                    <i style="float: left; margin-right: 7px; margin-top: 2px;" class="fa-solid fa-user"></i>
                    <span style="float: left;">Name</span>
                    <span style="float: right;">:</span>
                </div>
                <div nz-col nzSpan="4" style="text-align: left;">{{ user.name }}</div>
                <div nz-col nzSpan="4">
                    <i style="float: left; margin-right: 7px; margin-top: 2px;" class="fa-solid fa-envelope"></i>
                    <span style="float: left;">Email</span>
                    <span style="float: right;">:</span>
                </div>
                <div nz-col nzSpan="4" style="text-align: left;">{{ user.email }}</div>
            </nz-row>
            <nz-row nzJustify="space-evenly">
                <div nz-col nzSpan="4">
                    <i style="float: left; margin-right: 7px; margin-top: 2px;" class="fa-solid fa-location-dot"></i>
                    <span style="float: left;">Address</span>
                    <span style="float: right;">:</span>
                </div>
                <div nz-col nzSpan="4" style="text-align: left;">{{ user.address }}</div>
                <div nz-col nzSpan="4">
                    <i style="float: left; margin-right: 7px; margin-top: 2px;" class="fa-solid fa-id-card"></i>
                    <span style="float: left;">Identity Card</span>
                    <span style="float: right;">:</span>
                </div>
                <div nz-col nzSpan="4" style="text-align: left;">{{ user.identityCard }}</div>
            </nz-row>
            <nz-row nzJustify="space-evenly">
                <div nz-col nzSpan="4">
                    <i style="float: left; margin-right: 7px; margin-top: 2px;" class="fa-solid fa-cake-candles"></i>
                    <span style="float: left;">Birthday</span>
                    <span style="float: right;">:</span>
                </div>
                <div nz-col nzSpan="4" style="text-align: left;">{{ user.doB | date: 'YYYY/MM/dd' }}</div>
                <div nz-col nzSpan="4">
                    <i style="float: left; margin-right: 7px; margin-top: 2px;" class="fa-solid fa-phone"></i>
                    <span style="float: left;">Phone</span>
                    <span style="float: right;">:</span>
                </div>
                <div nz-col nzSpan="4" style="text-align: left;">{{ user.phone }}</div>
            </nz-row>
            <nz-row nzJustify="space-evenly">
                <div nz-col nzSpan="4">
                    <i style="float: left; margin-right: 7px; margin-top: 2px;"
                        class="fa-solid fa-money-bill-transfer"></i>
                    <span style="float: left;">Point</span>
                    <span style="float: right;">:</span>
                </div>
                <div nz-col nzSpan="4" style="text-align: left;">{{ user.point }}</div>
                <div nz-col nzSpan="4">
                    <i style="float: left; margin-right: 7px; margin-top: 2px;" class="fa-solid fa-chart-simple"></i>
                    <span style="float: left;">Rank</span>
                    <span style="float: right;">:</span>
                </div>
                <div nz-col nzSpan="4" style="text-align: left;">{{ getRankCustomer(user.point) }}</div>
            </nz-row>
        </div>
        <div style="text-align: center; margin: 10px 0;">
            <button nz-button nzType="primary" routerLink="/history-transaction">Transaction history</button>
        </div>
    </div>
    <!-- <div style="color: #ff1b6b;">THỂ LỆ VÀ QUY ĐỊNH VỀ CHƯƠNG TRÌNH THÀNH VIÊN HBQHM CINEMA</div>
    <div class="part">1. Cách đăng ký để trở thành khách hàng thành viên HBQHM Cinema</div>
    <ul>
        <li>Thông tin đăng ký cần có: Họ và tên, Số điện thoại, Số CMND, Ngày sinh.</li>
        <li>1 SĐT/CMND chỉ đăng ký được duy nhất 1 tài khoản/1 thẻ thành viên với 1 mã số duy nhất.</li>
        <li>Tài khoản được quyền sử dụng ngay.</li>
    </ul>
    <div class="part">2. Hướng dẫn thể lệ tích điểm</div>
    <div><span>1.000 đồng = 1 điểm</span></div>
    Bạn có thể dễ dàng kiểm tra điểm của mình trên Website HBQHM Cinema hoặc Ứng dụng HBQHM Cinema trên điện thoại
    (Với điều kiện phải thực hiện kích hoạt thành viên online)<br>
    HBQHM Member (điểm tích lũy từ 0 – 3499 điểm).<br>
    Khách hàng đăng kí mới khi hoàn tất thanh toán giao dịch đầu tiên được cộng ngay 100 điểm.<br>
    Cộng điểm đổi thưởng thêm 3% số tiền chi tiêu cho bắp nước và 5% số tiền chi tiêu cho vé<br>
    HBQHM Vip (điểm tích lũy từ 3500 – 7999 điểm).<br>
    Khách hàng lên hạng thẻ VIP được tặng 1 combo (1 nước ngọt + 1 bắp ngọt) và 3 vé xem phim 2D.<br>
    Cộng điểm đổi thưởng thêm 3% số tiền chi tiêu cho bắp nước và 7% số tiền chi tiêu cho vé<br>
    HBQHM Diamond (điểm tích lũy từ 8000 điểm trở lên).<br>
    Khách hàng lên hạng thẻ Diamond được tặng 2 combo [2 x (1 nước ngọt + 1 bắp ngọt)] và 5 vé xem phim 2D.<br>
    Cộng điểm đổi thưởng thêm 5% số tiền chi tiêu cho bắp nước và 10% số tiền chi tiêu cho vé<br>
    Khách hàng thành viên được tự động nâng hạng khi đủ điểm lên hạng mà không cần phải đợi xét duyệt vào cuối năm như
    các rạp khác. Khách hàng cần đến quầy đổi thẻ theo cấp hạng mới để được nhận quà trước khi số điểm bị reset vào cuối
    năm.<br>
    Hạng thẻ của năm tiếp theo sẽ được tính dựa trên điểm tích lũy năm nay (tính tại thời điểm 31/12 hàng năm)<br>
    <div class="part">3. Quà sinh nhật thành viên</div>
    Thay lời chúc mừng đến quý khách hàng, HBQHM Cinema xin dành tặng bạn món quà nhân dịp sinh nhật của mình<br>
    Quà tặng<br>
    - HBQHM Member: 1 combo (1 nước ngọt + 1 bắp ngọt)<br>
    - HBQHM VIP: 1 combo (2 nước ngọt + 1 bắp ngọt) và 1 vé xem phim 2D<br>
    - HBQHM Diamond: 1 combo (2 nước ngọt + 1 bắp ngọt) và 2 vé xem phim 2D<br>
    Thời gian nhận quà sinh nhật dành cho khách hàng: Trong vòng 10 ngày kể từ ngày sinh nhật.<br>
    Khách hàng thành viên nhận quà sinh nhật trực tiếp tại rạp<br>
    Chỉ những thành viên có ít nhất 1 giao dịch trong năm và trước thời điểm nhận quà mới được nhận phần quà sinh nhật
    từ HBQHM Cinema<br>
    Khách hàng vui lòng xuất trình giấy tờ tuỳ thân (CMND/…) tương ứng với tài khoản thành viên để nhận quà<br>
    Quà sinh nhật có giá trị sử dụng 1 tháng kể từ ngày sinh nhật<br>
    Nếu có nhu cầu đổi vị bắp, bạn vui lòng thanh toán thêm khoản phụ thu<br>
    Phần quà sinh nhật không có giá trị quy đổi thành tiền mặt<br>
    <div class="part">4. Điều kiện sử dụng điểm</div>
    <ul>
        <li>Điểm tích lũy là điểm dùng để xét cấp bậc hạng thẻ. Điểm thưởng là điểm dùng để đổi các phần quà tương ứng
            với số điểm.</li>
        <li>Khi đổi thưởng, điểm tích lũy sẽ vẫn được giữ nguyên, chỉ có điểm thưởng bị trừ đi</li>
        <li>Điểm thành viên bao gồm điểm tích lũy và điểm thưởng chỉ có giá trị sử dụng trong năm. Toàn bộ điểm sẽ được
            reset về 0 vào 23h59’ ngày 31/12 hàng năm.</li>
        <li>Khách hàng thành viên có thể sử dụng điểm thưởng để đổi các phần quà tương ứng như sau:</li>
    </ul>
    <ul>
        <li>450 điểm = 1 nước Aquafina</li>
        <li>500 điểm = 1 nước ngọt</li>
        <li>550 điểm = 1 nước ngọt lớn</li>
        <li>700 điểm = 1 bắp ngọt</li>
        <li>800 điểm = 1 bắp phô mai/ caramel</li>
        <li>1100 điểm = 1 nước ngọt + 1 bắp ngọt</li>
        <li>1150 điểm = 1 nước ngọt lớn + 1 bắp ngọt</li>
        <li>1200 điểm = 1 nước ngọt + 1 bắp phô mai/ caramel</li>
        <li>1250 điểm = 1 nước ngọt lớn + 1 bắp phô mai/ caramel</li>
        <li>1500 điểm = 2 nước ngọt + 1 bắp ngọt</li>
        <li>1600 điểm = 2 nước ngọt + 1 bắp phô mai/ caramel HOẶC 2 nước ngọt lớn + 1 bắp ngọt</li>
        <li>1700 điểm = 2 nước ngọt lớn + 1 bắp phô mai/ caramel</li>
        <li>1000 điểm = 1 vé 2D</li>
        <li>1200 điểm = 1 vé 3D</li>
    </ul>
    <ul>
        <li>Quà tặng quy đổi từ điểm thưởng chỉ có giá trị sử dụng trong ngày thực hiện đổi</li>
        <li>Quà tặng được đổi tại quầy hoặc đổi online ngay trong giao dịch</li>
        <li>Không quy đổi quà ra tiền mặt hay chuyển nhượng sang tài khoản khác.</li>
        <li>Thành viên phải cung cấp CMND hoặc thẻ thành viên để nhận quà.</li>
        <li>Thông tin chương trình, quà thưởng và các ưu đãi dành cho thành viên có thể được thay đổi và cập nhật thường
            xuyên mà không báo trước.</li>
    </ul>
</div> -->
