/* .content {
  top: 100px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  display: inline-block;
  padding: 0 25px;
  width: 80rem;
  background-color: #001529;
  color: aliceblue;
  padding-bottom: 70px;
  display: flex;
  padding: 25px 0;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-card{
  width: 80%;

}
nz-footer {
  text-align: center;
}

nz-breadcrumb {
  margin: 16px 0;
}
nz-content {
  margin: 0 16px;
}
.layout{
  overflow-x: hidden;
  height: 25rem;
}
.layout::-webkit-scrollbar {
  width: 0.1em;
}

.layout::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.inner-content {
  height: 30rem;
}
.ant-divider-horizontal, .ant-divider-with-text {
  color: #fff;
  border-top-color: #fff !important;
}

.button{
  width: 100px;
  height: 32px;
}

.card {
  width: 100%;
  border-radius: 5%;
  margin: 20px 0;
  display: flex;
}

.poster {
  border-radius: 5%;
  width: 15rem;
  display: table-cell;
  background-size: cover;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.poster .shadow_swhow_mini {
  background-color: rgba(19, 30, 33, 0);
}
.poster:hover .shadow_swhow_mini {
  background-color: rgba(16, 23, 41, 0.7);
}
.cardMovie{
  margin-top: 20px;
  margin-left: 20px;
}
.ant-menu-dark.ant-menu-horizontal>.ant-menu-item, .ant-menu-dark.ant-menu-horizontal>.ant-menu-submenu {
    top: 0px;
    margin-top: 0px;
    padding: 0px;
    border-color: #001529;
    border-bottom: 0;
}

.sorry {
  position: absolute;
  top: 50%;
  left: 45%;
  font-weight: bold;
  font-size: xx-large;
  z-index: 0;
} */
