<div class="header">
    <button class="btn_create" (click)="open('create', null)">Create</button>
    <div class="filter">
        <nz-select nzShowSearch nzAllowClear class="search m-2" nzPlaceHolder="Search promotion..." [ngModel]="null"  (ngModelChange)="onFilterPromotion($event)">
            <nz-option *ngFor="let promotion of promotions" [nzLabel]="promotion.code" [nzValue]="promotion.id"></nz-option>
        </nz-select>
        <nz-input-number-group nzAddOnAfter="VNĐ" class="m-2" style="width: 20rem" >
            <nz-input-number nzPlaceHolder="Search price..." [nzMin]="1000" [nzMax]="60000" [nzStep]="1000" [ngModel]="null" (ngModelChange)="onFilterdiscount($event)" ></nz-input-number>
        </nz-input-number-group>
        <nz-range-picker class="m-2" nzFormat="dd-MM-YYYY"  [(ngModel)]="date" (ngModelChange)="onFilterDate($event)"></nz-range-picker>
        <button nz-button class="m-2" nzType="primary">
            <i class="fa-solid fa-arrows-rotate" style="margin-right: 5px;"></i>
            Refresh
        </button>
    </div>
</div>
<nz-table #rowSelectionTable nzShowSizeChanger [nzData]="promotions" [nzShowTotal]="rangeTemplate"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" nzShowQuickJumper [nzScroll]="{ y: '400px' }"
    [nzPaginationPosition]="setting.paginationPosition" [nzBordered]="true" [nzPaginationType]="setting.paginationType"
    [nzSimple]="setting.paginationSimple">
    <ng-template #rangeTemplate let-range="range" let-total>
        {{ range[0] }}-{{ range[1] }} of {{ total }} items
    </ng-template>
    <thead>
        <tr style="cursor: pointer;">
            <th [nzAlign]="'center'" [nzWidth]="'20%'" nzLeft>Code</th>
            <th [nzAlign]="'center'" [nzWidth]="'10%'">Price</th>
            <th [nzAlign]="'center'" [nzWidth]="'20%'">Start Date</th>
            <th [nzAlign]="'center'" [nzWidth]="'20%'">End Date</th>
            <th [nzAlign]="'center'" [nzWidth]="'20%'">Status</th>
            <th [nzAlign]="'center'" [nzWidth]="'10%'" nzRight>Action</th>
        </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="drop($event)" style="cursor: pointer;">
        <tr *ngFor="let data of rowSelectionTable.data" cdkDrag>
            <td [nzAlign]="'center'" nzLeft>{{ data.code }}</td>
            <td [nzAlign]="'center'">{{ data.price }}</td>
            <td [nzAlign]="'center'">{{ data.startDate | date: 'dd/MM/YYYY' }}</td>
            <td [nzAlign]="'center'">{{ data.endDate | date: 'dd/MM/YYYY' }}</td>
            <td [nzAlign]="'center'">{{ checkStatus(data.endDate) }}</td>
            <td [nzAlign]="'center'" nzRight>
                <button nz-button nzType="primary" (click)="$event.stopPropagation(); open('view', data)">
                    <i class="fa-solid fa-eye"></i>
                </button>
                <button nz-button nzType="primary" nzDanger (click)="$event.stopPropagation(); showConfirm(data.id)">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </td>
        </tr>
    </tbody>
</nz-table>
<nz-drawer [nzSize]="'large'" [nzClosable]="false" [nzVisible]="visible" [nzTitle]="titleTemplate" (nzOnClose)="close()"
    [nzPlacement]="setting.drawerPosition">
    <ng-template #titleTemplate>
        <div class="row">
            <div class="col col-10">
                <span *ngIf="title === 'Create Movie'"><i class="fa-solid fa-folder-plus"
                        style="margin-right: 5px;"></i>{{
                    title }}</span>
                <span *ngIf="title !== 'Create Movie'"><i class="fa-solid fa-wand-magic-sparkles"
                        style="margin-right: 5px;"></i>{{
                    title }}</span>
            </div>
            <div *ngIf="mode !== 'create'" class="col col-2">
                <button *ngIf="isEdit == false" nz-button nzType="primary" class="btn_edit" (click)="changeEdit()">
                    <i class="fa-solid fa-right-to-bracket" style="margin-right: 5px;"></i>Edit</button>
                <button *ngIf="isEdit == true" nz-button nzType="default" class="btn_edit" (click)="changeEdit()">
                    <i class="fa-solid fa-right-to-bracket fa-rotate-180" style="margin-right: 5px;"></i>Cancel</button>
            </div>
        </div>
    </ng-template>
    <ng-container *nzDrawerContent>
        <app-view-and-edit-promotion #promotion [mode]="mode" [data]="data" [isEdit]="isEdit"
            (onSubmit)="submit($event)">
        </app-view-and-edit-promotion>
    </ng-container>
</nz-drawer>
