<!-- <img width="100%" height="100%" style="object-fit:cover" src="../../../assets/background.webp" alt="background">
<div class="content">
    <h1 class="title">Transaction History</h1>
    <div *ngIf="checkUser == false">
        <div nz-row>
            <div nz-col nzSpan="12">Customer: {{ user.name }}</div>
            <div nz-col nzSpan="12">Rank: {{ getRankCustomer(user.point) }}</div>
        </div>
    </div>
    <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="transactionList" [nzShowTotal]="rangeTemplate"
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" nzShowQuickJumper
        [nzPaginationPosition]="setting.paginationPosition" [nzBordered]="true"
        [nzPaginationType]="setting.paginationType" [nzSimple]="setting.paginationSimple">
        <ng-template #rangeTemplate let-range="range" let-total width="100%">
            {{ range[0] }}-{{ range[1] }} of {{ total }} items
        </ng-template>
        <div list>
            <tbody cdkDropList (cdkDropListDropped)="drop($event)" style="cursor: pointer; width: 100%;">
                <tr *ngFor="let data of rowSelectionTable.data" cdkDrag>
                    <td style="width: 20%; text-align: center;">{{ data.date | date: 'dd/MM/YYYY' }}</td>
                    <td style="width: 60%;">{{ data.history }}</td>
                    <td style="width: 20%;">{{ changeToMoney(data.price) }}</td>
                </tr>
            </tbody>
        </div>
    </nz-table>
</div> -->
